openapi: 3.1.0
info:
  title: Aster Spot API
  version: v1
  description: Aster Spot REST API per aster-finance-spot-api.md. Web3 ECDSA signing for TRADE/USER_DATA/USER_STREAM; MARKET_DATA is public.
servers:
  - url: https://sapi.asterdex.com
tags:
  - name: Market Data
  - name: Account & Trading
  - name: User Stream
components:
  securitySchemes:
    AsterWeb3Sig:
      type: apiKey
      in: query
      name: signature
      x-aster-web3-signing: true
  parameters:
    User:
      name: user
      in: query
      required: true
      schema:
        type: string
        pattern: ^0x[a-fA-F0-9]{40}$
    Signer:
      name: signer
      in: query
      required: true
      schema:
        type: string
        pattern: ^0x[a-fA-F0-9]{40}$
    Nonce:
      name: nonce
      in: query
      required: true
      schema:
        type: integer
        format: int64
    Timestamp:
      name: timestamp
      in: query
      required: true
      schema:
        type: integer
        format: int64
    RecvWindow:
      name: recvWindow
      in: query
      required: false
      schema:
        type: integer
        format: int64
        maximum: 60000
    Symbol:
      name: symbol
      in: query
      required: true
      schema:
        type: string
  schemas:
    OrderSide:
      type: string
      enum: [BUY, SELL]
    OrderType:
      type: string
      enum: [LIMIT, MARKET, STOP, TAKE_PROFIT, STOP_MARKET, TAKE_PROFIT_MARKET]
    TimeInForce:
      type: string
      enum: [GTC, IOC, FOK, GTX]
    KlineInterval:
      type: string
      enum: [1m,3m,5m,15m,30m,1h,2h,4h,6h,8h,12h,1d,3d,1w,1M]
    Depth:
      type: object
      properties:
        lastUpdateId:
          type: integer
        E:
          type: integer
        T:
          type: integer
        bids:
          type: array
          items:
            type: array
            items:
              type: string
        asks:
          type: array
          items:
            type: array
            items:
              type: string
    Order:
      type: object
      properties:
        orderId:
          type: integer
        symbol:
          type: string
        status:
          type: string
        clientOrderId:
          type: string
        price:
          type: string
        avgPrice:
          type: string
        origQty:
          type: string
        executedQty:
          type: string
        cumQuote:
          type: string
        timeInForce:
          $ref: '#/components/schemas/TimeInForce'
        type:
          $ref: '#/components/schemas/OrderType'
        side:
          $ref: '#/components/schemas/OrderSide'
        stopPrice:
          type: string
        origType:
          $ref: '#/components/schemas/OrderType'
        updateTime:
          type: integer
paths:
  /api/v1/ping:
    get:
      tags: [Market Data]
      security: []
      responses:
        '200':
          description: OK
  /api/v1/time:
    get:
      tags: [Market Data]
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverTime:
                    type: integer
  /api/v1/exchangeInfo:
    get:
      tags: [Market Data]
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /api/v1/depth:
    get:
      tags: [Market Data]
      security: []
      parameters:
        - $ref: '#/components/parameters/Symbol'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Depth'
  /api/v1/trades:
    get:
      tags: [Market Data]
      security: []
      parameters:
        - $ref: '#/components/parameters/Symbol'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /api/v1/historicalTrades:
    get:
      tags: [Market Data]
      security: []
      parameters:
        - $ref: '#/components/parameters/Symbol'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: fromId
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /api/v1/aggTrades:
    get:
      tags: [Market Data]
      security: []
      parameters:
        - $ref: '#/components/parameters/Symbol'
        - name: fromId
          in: query
          required: false
          schema:
            type: integer
        - name: startTime
          in: query
          required: false
          schema:
            type: integer
        - name: endTime
          in: query
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /api/v1/klines:
    get:
      tags: [Market Data]
      security: []
      parameters:
        - $ref: '#/components/parameters/Symbol'
        - name: interval
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/KlineInterval'
        - name: startTime
          in: query
          required: false
          schema:
            type: integer
        - name: endTime
          in: query
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    oneOf:
                      - type: integer
                      - type: string
  /api/v1/ticker/24hr:
    get:
      tags: [Market Data]
      security: []
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                  - type: array
                    items:
                      type: object
  /api/v1/ticker/price:
    get:
      tags: [Market Data]
      security: []
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                  - type: array
                    items:
                      type: object
  /api/v1/ticker/bookTicker:
    get:
      tags: [Market Data]
      security: []
      parameters:
        - name: symbol
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                  - type: array
                    items:
                      type: object
  /api/v1/commissionRate:
    get:
      tags: [Market Data]
      security: []
      parameters:
        - $ref: '#/components/parameters/Symbol'
        - $ref: '#/components/parameters/RecvWindow'
        - $ref: '#/components/parameters/Timestamp'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /api/v1/order:
    post:
      tags: [Account & Trading]
      security:
        - AsterWeb3Sig: []
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Signer'
        - $ref: '#/components/parameters/Nonce'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                side:
                  $ref: '#/components/schemas/OrderSide'
                type:
                  $ref: '#/components/schemas/OrderType'
                timeInForce:
                  $ref: '#/components/schemas/TimeInForce'
                quantity:
                  type: string
                quoteOrderQty:
                  type: string
                price:
                  type: string
                newClientOrderId:
                  type: string
                stopPrice:
                  type: string
                recvWindow:
                  type: integer
                timestamp:
                  type: integer
              required: [symbol, side, type, timestamp]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
    delete:
      tags: [Account & Trading]
      security:
        - AsterWeb3Sig: []
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Signer'
        - $ref: '#/components/parameters/Nonce'
        - $ref: '#/components/parameters/Symbol'
        - name: orderId
          in: query
          required: false
          schema:
            type: integer
        - name: origClientOrderId
          in: query
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/RecvWindow'
        - $ref: '#/components/parameters/Timestamp'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
    get:
      tags: [Account & Trading]
      security:
        - AsterWeb3Sig: []
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Signer'
        - $ref: '#/components/parameters/Nonce'
        - $ref: '#/components/parameters/Symbol'
        - name: orderId
          in: query
          required: false
          schema:
            type: integer
        - name: origClientOrderId
          in: query
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/RecvWindow'
        - $ref: '#/components/parameters/Timestamp'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
  /api/v1/openOrders:
    get:
      tags: [Account & Trading]
      security:
        - AsterWeb3Sig: []
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Signer'
        - $ref: '#/components/parameters/Nonce'
        - name: symbol
          in: query
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/RecvWindow'
        - $ref: '#/components/parameters/Timestamp'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
  /api/v1/allOpenOrders:
    delete:
      tags: [Account & Trading]
      security:
        - AsterWeb3Sig: []
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Signer'
        - $ref: '#/components/parameters/Nonce'
        - $ref: '#/components/parameters/Symbol'
        - $ref: '#/components/parameters/RecvWindow'
        - $ref: '#/components/parameters/Timestamp'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /api/v1/allOrders:
    get:
      tags: [Account & Trading]
      security:
        - AsterWeb3Sig: []
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Signer'
        - $ref: '#/components/parameters/Nonce'
        - $ref: '#/components/parameters/Symbol'
        - name: orderId
          in: query
          required: false
          schema:
            type: integer
        - name: startTime
          in: query
          required: false
          schema:
            type: integer
        - name: endTime
          in: query
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - $ref: '#/components/parameters/RecvWindow'
        - $ref: '#/components/parameters/Timestamp'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
  /api/v1/account:
    get:
      tags: [Account & Trading]
      security:
        - AsterWeb3Sig: []
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Signer'
        - $ref: '#/components/parameters/Nonce'
        - $ref: '#/components/parameters/RecvWindow'
        - $ref: '#/components/parameters/Timestamp'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /api/v1/userTrades:
    get:
      tags: [Account & Trading]
      security:
        - AsterWeb3Sig: []
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Signer'
        - $ref: '#/components/parameters/Nonce'
        - name: symbol
          in: query
          required: false
          schema:
            type: string
        - name: orderId
          in: query
          required: false
          schema:
            type: integer
        - name: startTime
          in: query
          required: false
          schema:
            type: integer
        - name: endTime
          in: query
          required: false
          schema:
            type: integer
        - name: fromId
          in: query
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - $ref: '#/components/parameters/RecvWindow'
        - $ref: '#/components/parameters/Timestamp'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /api/v1/asset/wallet/transfer:
    post:
      tags: [Account & Trading]
      security:
        - AsterWeb3Sig: []
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Signer'
        - $ref: '#/components/parameters/Nonce'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                amount:
                  type: string
                asset:
                  type: string
                clientTranId:
                  type: string
                kindType:
                  type: string
                  enum: [FUTURE_SPOT, SPOT_FUTURE]
                timestamp:
                  type: integer
              required: [amount, asset, clientTranId, kindType, timestamp]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /api/v1/aster/withdraw/estimateFee:
    get:
      tags: [Market Data]
      security: []
      parameters:
        - name: chainId
          in: query
          required: true
          schema:
            type: string
        - name: asset
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /api/v1/aster/user-withdraw:
    post:
      tags: [Account & Trading]
      security:
        - AsterWeb3Sig: []
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Signer'
        - $ref: '#/components/parameters/Nonce'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chainId:
                  type: string
                asset:
                  type: string
                amount:
                  type: string
                fee:
                  type: string
                receiver:
                  type: string
                timestamp:
                  type: integer
                userSignature:
                  type: string
              required: [chainId, asset, amount, fee, receiver, timestamp, userSignature]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
